.feedContainer {
  background-color: #18191a;
  display: flex;
  flex-direction: column;
  align-items: center;
  .headerContainer {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .headerCover {
      height: 100%;
      width: 50%;
    }
    .headerImg {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 180px;
      z-index: 100;
      object-fit: cover;
      border-radius: 70%;
    }
  }
  .timeLineContainer {
    .timeLineInput {
      .inputContainer {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        margin-top: 100px;
        .inputProfile {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 70%;
        }
        .inputBox {
          width: 80%;
          height: 50px;
          border-radius: 30px;
          padding-left: 15px;
          border: none;
        }
      }
      .inputIconContainer {
        display: flex;
        height: 50px;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px rgba(78, 77, 77, 0.432) solid;
        .iconBox {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
    .timeLineList {
      margin-top: 30px;
      display: flex;
      flex-direction: column-reverse;
      .timeLine {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .timeLineHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 80px;

          .userContainer {
            display: flex;
            .userheaderImg {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 70%;
            }
            .userInfo {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 10px;
              .user {
                font-size: 17px;
                font-weight: bolder;
                margin-bottom: 5px;
              }
              .uploadTime {
                font-size: 13px;
              }
            }
          }
          .moreBtn {
            cursor: pointer;
            margin-right: 20px;
          }
        }
        .feedContents {
          .addFeed {
            padding-left: 20px;
          }
          .timeLinefeedImg {
            .feedImg {
              width: 100%;
            }
          }
        }
        .timeLinefeedIcon {
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          border-top: 1px rgba(78, 77, 77, 0.432) solid;
        }
        .commentContainer {
          background-color: rgb(12, 12, 12);
          .commentBox {
            height: auto;
            display: flex;
            align-items: center;
            padding-left: 10px;
            .commentImg {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 70%;
            }
            .text {
              padding: 20px;
            }
          }
          .ctnContainer {
            display: flex;
            padding: 10px;
            .commentCnt {
              font-weight: 900;
            }
          }
          .commentContents {
            height: 90px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .commentImg {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 70%;
            }
            .commentInput {
              width: 60%;
              height: 25px;
              border-radius: 30px;
              border: none;
            }
          }
        }
      }
    }
  }
}
